body{

	background:url("images/clownp.PNG") top right no-repeat; background-attachment:fixed;
	text-align: center;
}

h2 {
  color: black;
  text-align: center;

}

.center {
  text-align: center;
}
p{
  color: black;
	text-align: right;
}
audio {
display: none;
}
h3 {
	color: black;
	text-align: left;
}
h3{
	color: black;
	text-align: center;
}
h4{
	color: black;
	text-align: center;

}
